$color_1: #dd0000;
$font_family_1: "Raleway";
$background_color_1: transparent;
$background_color_2: #ccc;
$background_color_3: rgba(0,0,0,0.5);
$background_color_4: #ffffff;

@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.eot') format('embedded-opentype'), url('../fonts/Raleway.woff') format('woff'), url('../fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*--------------------BUTTON------------------*/
/*--Visible--*/
/*--Sutil--*/
/*--------TOOLTIP--------*/
/*-------------CHECBOX LIST------------*/
/*-------------MODAL------------*/
/*-------------DATE INPUT------------*/
/*-------------VALIDACIÓN------------*/
body {
  font-size: 14px;
  font-family: $font_family_1;
}
input {
  &:focus {
    outline: none;
  }
}
select {
  &:focus {
    outline: none;
  }
}
button {
  font-family: $font_family_1;
  cursor: pointer;
  outline: none;
  &:hover {
    background: #ffffff;
    outline: none;
  }
  &:active {
    background: #cccccc;
    outline: none;
  }
  i {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../svg/icon-download.svg) no-repeat 50% 50%;
    background-size: 100% auto;
  }
  span {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}
button.inactive {
  cursor: not-allowed;
  background: #aaaaaa;
  &:hover {
    background: #aaaaaa;
    outline: none;
  }
  &:active {
    background: #aaaaaa;
    outline: none;
  }
}
button.big {
  font-size: 1.5em;
}
button.medium {
  font-size: 1em;
}
button.small {
  font-size: 0.7em;
}
button.sutil {
  font-family: $font_family_1;
  cursor: pointer;
  outline: none;
  background: transparent;
  &:hover {
    background: transparent;
    outline: none;
    opacity: 0.8;
  }
  &:active {
    background: transparent;
    outline: none;
    opacity: 0.8;
  }
  i {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../svg/icon-download.svg) no-repeat 50% 50%;
    background-color: $background_color_1;
    background-size: 100% auto;
  }
  span {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}
button.sutil.inactive {
  cursor: not-allowed;
  background: transparent;
  opacity: 0.8;
  &:hover {
    background: transparent;
    outline: none;
    opacity: 0.8;
  }
  &:active {
    background: transparent;
    outline: none;
    opacity: 0.8;
  }
}
.tooltip {
  width: 300px;
  background-color: $background_color_2;
  padding: 10px;
  p {
    margin: 0;
  }
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    position: relative;
    float: left;
    margin: 10px 0 0 -8px;
    left: 50%;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #cccccc;
    box-sizing: border-box;
  }
}
.input-tooltip {
  position: relative;
  width: 100%;
}
ul.check-box-list {
  li {
    list-style: none;
  }
}
ul.radio-list {
  li {
    list-style: none;
  }
}
.modal {
  position: fixed;
  background-color: $background_color_3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  .modal-ventana {
    position: relative;
    width: 600px;
    background-color: $background_color_4;
    margin: 0 auto;
    padding: 20px;
    top: 10%;
  }
  .modal-cerrar {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.date-input {
  float: left;
}
.date-campo {
  float: left;
  input {
    width: 30px;
  }
  button {
    i {
      width: 15px;
      height: 15px;
      display: inline-block;
      background: url(../svg/icon-calendar.svg) no-repeat 50% 50%;
      background-size: 100% auto;
    }
  }
}
.input-validado {
  position: relative;
  width: 200px;
  input {
    width: 100%;
    border: solid 1px #00dd00;
  }
  i {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../svg/icon-validado.svg) no-repeat 50% 50%;
    background-size: 100% auto;
    float: right;
    margin-right: -20px;
    margin-top: -20px;
  }
}
.input-error {
  position: relative;
  width: 200px;
  input {
    width: 100%;
    border: solid 1px #dd0000;
  }
  span {
    color: $color_1;
    float: right;
    text-align: right;
    font-size: 0.7em;
  }
}